@import "libs/null";

//font
@import "font/font";
//icon font
@import "font/iconfont";

//variables
@import "variables/_variables.scss";

* {
  // Вообще эти настройки перенести в null
  font-family: $main-font;
  font-weight: 500;
  font-size: 18px;
  // color: $main-color; - убрать из шаблона
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    line-height: 1;
    list-style: none;
  }
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: 1590px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: content-box;
}

// import elems
@import "blocks/elems/cardProduct.scss";
@import "blocks/elems/cardButton.scss";

// import blocks
@import "blocks/header";
